@page "/appointments/"

<div>
    <div class="row">
        <div class="col-md-6">
            <p>Lütfen Sicil Numaranızı Giriniz</p>
            
            <EditForm Model="@registrationNumber" OnValidSubmit="FindEmployee">
                <div class="form-group">
                    <label for="startDate">Sicil No</label>
                    <InputText class="form-control" id="registrationNumber" @bind-Value="registrationNumber" />
                </div>

                <button class="btn btn-success" type="submit">Bul</button>
            </EditForm>
        
        </div>

        <div class="col-md-6">

            <table id="tblData" class="table">
                <tbody>
                    <tr>
                        <td>
                            Sicil No
                        </td>
                        <td>
                            @Employee.RegistrationNumber
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ad
                        </td>
                        <td>
                            @Employee.Name
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Soyad
                        </td>
                        <td>
                            @Employee.Surname
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            @Employee.Email
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Lokasyon
                        </td>
                        <td>
                            @if (Employee.Location != null)
                            {
                                @Employee.Location.LocationDescription
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Departman
                        </td>
                        <td>
                            @if (Employee.Department != null)
                            {
                                @Employee.Department.DepartmentDescription
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Pozisyon
                        </td>
                        <td>
                            @if (Employee.Position != null)
                            {
                                @Employee.Position.PositionDescription
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        
        </div>
    </div>
</div>