@inject IStringLocalizer<App> Loc

@page "/appointments/"

<div>
    <div class="row">
        <div class="col-md-6">
            <p>@Loc[nameof(ResourceStrings.AppointmentPageText)]</p>
            
            <EditForm Model="@registrationNumber" OnValidSubmit="FindEmployee">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="startDate">@Loc[nameof(ResourceStrings.AppointmentPageRegNoLabel)]</label>
                    <InputText class="form-control" id="registrationNumber" @bind-Value="registrationNumber" />
                    <ValidationMessage For="@(() => registrationNumber)" />
                </div>

                <button class="btn btn-success" type="submit">@Loc[nameof(ResourceStrings.AppointmentPageFindButton)]</button>
            </EditForm>
        
        </div>

        <div class="col-md-6">

            <table id="employeeData" class="table">
                <tbody>
                    <tr>
                        <td>
                            @Loc[nameof(ResourceStrings.AppointmentPageRegNoText)]
                        </td>
                        <td>
                            @Employee.RegistrationNumber
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Loc[nameof(ResourceStrings.AppointmentPageNameText)]
                        </td>
                        <td>
                            @Employee.Name
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Loc[nameof(ResourceStrings.AppointmentPageSurnameText)]
                        </td>
                        <td>
                            @Employee.Surname
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Loc[nameof(ResourceStrings.AppointmentPageEmailText)]
                        </td>
                        <td>
                            @Employee.Email
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Loc[nameof(ResourceStrings.AppointmentPageLocationText)]
                        </td>
                        <td>
                            @if (Employee.Location != null)
                            {
                                @Employee.Location.LocationDescription
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Loc[nameof(ResourceStrings.AppointmentPageDepartmentText)]
                        </td>
                        <td>
                            @if (Employee.Department != null)
                            {
                                @Employee.Department.DepartmentDescription
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Loc[nameof(ResourceStrings.AppointmentPagePositionText)]
                        </td>
                        <td>
                            @if (Employee.Position != null)
                            {
                                @Employee.Position.PositionDescription
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        @if (messageTitle != null && messageBody != null)
        {
            <div class="card text-white bg-warning" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@messageTitle</h5>
                    <p class="card-text">@messageBody</p>
                </div>
            </div>
        }

        @if (doctors != null)
        {
            foreach (var doctor in doctors)
            {
                <button @onclick="() => GetDoctorAvailabilities(doctor.Id)">
                    @($"Dr. {doctor.Name} {doctor.Surname}")
                </button>
            }
        }
    </div>

    <br />
    <br />

    <div class="row">
        @if (availabilities != null)
        {
            <table id="availabilityData" class="table">
                <thead>
                    <tr>
                        <th>
                            @Loc[nameof(ResourceStrings.AppointmentPageDoctorText)]
                        </th>
                        <th>
                            @Loc[nameof(ResourceStrings.AppointmentPageDateText)]
                        </th>
                        <th>
                            @Loc[nameof(ResourceStrings.AppointmentPageStartHourText)]
                        </th>
                        <th>
                            @Loc[nameof(ResourceStrings.AppointmentPageEndHourText)]
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var availability in availabilities)
                    {
                        <tr>
                            <td>
                                @availability.Doctor.Name @availability.Doctor.Surname
                            </td>
                            <td>
                                @availability.Date.ToString("dd-MM-yyyy")
                            </td>
                            <td>
                                @availability.StartTime
                            </td>
                            <td>
                                @availability.EndTime
                            </td>
                            <td>
                                <button class="btn btn-outline-primary" @onclick="() => CreateAppointment(availability)">
                                    <i class="fa fa-file"></i> @Loc[nameof(ResourceStrings.AppointmentPageTakeAppointmentButton)]
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>