@page "/availabilities"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider



<h3>Availabilities</h3>

<label for="doctorId">Doktorlarımız</label>
<select class="form-control" @bind="selectedDoctorId">
    <option value="">Seçiniz</option>
    @foreach (var doctor in doctorsInCurrentUserLocation)
    {
        <option value="@doctor.Id">@($"{doctor.Name} {doctor.Surname}")</option>
    }
</select>

<button class="btn btn-primary btn-sm" @onclick="GetAvailabilitiesByDoctorId">Get Availabilities</button>
<button class="btn btn-success btn-sm" @onclick="NavigateToCreateAvailability">Create Availability</button>
<button class="btn btn-info btn-sm" @onclick="NavigateToEditAvailability">Edit Availability</button>

@if (availabilities != null && availabilities.Any())
{
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Doktor</th>
                <th>Tarih</th>
                <th>Başlangıç Saati</th>
                <th>Bitiş Saati</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var availability in availabilities)
            {
                <tr>
                    <td>@($"{availability.Doctor.Name} {availability.Doctor.Surname}")</td>
                    <td>@availability.Date.ToShortDateString()</td>
                    <td>@availability.StartTime.ToString()</td>
                    <td>@availability.EndTime.ToString()</td>
                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteAvailability(availability)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (authenticationState.User?.Claims != null)
{
    var registrationNumberClaim = authenticationState.User.Claims.FirstOrDefault(c => c.Type == "RegistrationNumber");
}


