@page "/create-availability"

<h3>CreateAvailabilityPage</h3>

<EditForm Model="@availabilityToCreate" OnValidSubmit="@CreateAvailability">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="doctor">Doktor</label>
        <InputSelect class="form-control" id="doctor" @bind-Value="availabilityToCreate.DoctorID">
            <option>Doktor Seçiniz</option>
            @if (doctors != null && doctors.Any())
            {
                @foreach (var doctor in doctors)
                {
                    <option value="@doctor.Id">@doctor.Name @doctor.Surname</option>
                }
            }
        </InputSelect>
        <ValidationMessage For="@(() => availabilityToCreate.DoctorID)" />
    </div>

    <div class="form-group">
        <label for="date">Tarih</label>
        <InputDate class="form-control" id="date" @bind-Value="availabilityToCreate.Date" />
        <ValidationMessage For="@(() => availabilityToCreate.Date)" />
    </div>

    <div class="form-group">
        <label for="startTime">Başlangıç Saati</label>
        <InputDate Type="InputDateType.Time" class="form-control" id="startTime" @bind-Value="availabilityToCreate.StartTime" />
        <ValidationMessage For="@(() => availabilityToCreate.StartTime)" />
    </div>

    <div class="form-group">
        <label for="endTime">Bitiş Saati</label>
        <InputDate Type="InputDateType.Time" class="form-control" id="endTime" @bind-Value="availabilityToCreate.EndTime" />
        <ValidationMessage For="@(() => availabilityToCreate.EndTime)" />
    </div>

    <button type="submit" class="btn btn-success btn-block">Oluştur</button>
    
    <Back Target="availabilities" />
</EditForm>


