

@page "/doctorappointments"

@if (doctor != null)
{
    <div>
        <h3> Hoş Geldiniz, Dr @doctor.Name!</h3>
        <p>Randevularınız:</p>
      
    </div>

    @if (appointments != null && appointments.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Employee Surname</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in appointments)
                {
                    <tr>
                        <td>@appointment.Employee.Name</td>
                        <td>@appointment.Employee.Surname</td>
                        <td>@appointment.AppointmentDate.ToShortDateString()</td>
                        <td>@appointment.AppointmentStartHour.ToString()</td>
                        <td>@appointment.AppointmentEndHour.ToString()</td>
                        <td>
                            <button class="btn btn-danger" @onclick="() => DeleteAppointment(appointment.Id)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Randevunuz bulunmamaktadır.</p>
    }
}
else
{
    @if (doctor == null && doctorLoaded)
    {
        <p>  Doktor Bulunamadı.</p>
    }
    else
    {
        <p>Doktor Bilgileri Yükleniyor...</p>
    }
}
