@inject IStringLocalizer<App> Loc

@page "/doctorappointments"
@attribute [Authorize(Roles = "Doctor")]

@if (doctor != null)
{
    <div>
        <h3> @Loc[nameof(ResourceStrings.DoctorAppointmentPageWelcome)] @doctor.Name!</h3>
        <p>@Loc[nameof(ResourceStrings.DoctorAppointmentPageYourAppointmentsText)]</p>
      
    </div>

    <button @onclick="GoToReportPage">@Loc[nameof(ResourceStrings.DoctorAppointmentPageReportPageButton)]</button>

    @if (appointments != null && appointments.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@Loc[nameof(ResourceStrings.DoctorAppointmentPageTableName)]</th>
                    <th>@Loc[nameof(ResourceStrings.DoctorAppointmentPageTableSurname)]</th>
                    <th>@Loc[nameof(ResourceStrings.DoctorAppointmentPageTableDate)]</th>
                    <th>@Loc[nameof(ResourceStrings.DoctorAppointmentPageTableStartTime)]</th>
                    <th>@Loc[nameof(ResourceStrings.DoctorAppointmentPageTableEndTime)]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in appointments)
                {
                    <tr>
                        <td>@appointment.Employee.Name</td>
                        <td>@appointment.Employee.Surname</td>
                        <td>@appointment.AppointmentDate.ToShortDateString()</td>
                        <td>@appointment.AppointmentStartHour.ToString()</td>
                        <td>@appointment.AppointmentEndHour.ToString()</td>
                        <td>
                            <button class="btn btn-danger" @onclick="() => DeleteAppointment(appointment.Id)">@Loc[nameof(ResourceStrings.DoctorAppointmentPageDeleteButton)]</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>@Loc[nameof(ResourceStrings.DoctorAppointmentPageNoAppointmentText)]</p>
    }
}
else
{
    @if (doctor == null && doctorLoaded)
    {
        <p>@Loc[nameof(ResourceStrings.DoctorAppointmentPageNotFoundDoctorText)]</p>
    }
    else
    {
        <p>@Loc[nameof(ResourceStrings.DoctorAppointmentPageDoctorsLoadingText)]</p>
    }
}
