@inject IStringLocalizer<App> Loc
@page "/localadminappointments"
@attribute [Authorize(Roles = "LocalAdmin")]

<h3>@Loc[nameof(ResourceStrings.LocalAdminAppPageTitle)]</h3>

@if (doctorsInCurrentUserLocation != null && doctorsInCurrentUserLocation.Any())
{
    <label for="doctorId">@Loc[nameof(ResourceStrings.LocalAdminAppPageDoctorText)]</label>
    <select class="form-control" @bind="selectedDoctorId">
        <option value="">@Loc[nameof(ResourceStrings.LocalAdminAppPageChooseDoctorPlacer)]</option>

        @foreach (var doctor in doctorsInCurrentUserLocation)
        {
            <option value="@doctor.Id">@($"{doctor.Name} {doctor.Surname}")</option>
        }
    </select>

    <button class="btn btn-primary mt-2" @onclick="GetAppointments">@Loc[nameof(ResourceStrings.LocalAdminAppPageGetAppButton)]</button>
    <button class="btn btn-primary mt-2" @onclick="GoToReportPage">@Loc[nameof(ResourceStrings.LocalAdminAppPageReportPageButton)]</button>


    @if (appointments != null && appointments.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@Loc[nameof(ResourceStrings.LocalAdminAppPageTableName)]</th>
                    <th>@Loc[nameof(ResourceStrings.LocalAdminAppPageTableSurname)]</th>
                    <th>@Loc[nameof(ResourceStrings.LocalAdminAppPageTableDate)]</th>
                    <th>@Loc[nameof(ResourceStrings.LocalAdminAppPageTableStartTime)]</th>
                    <th>@Loc[nameof(ResourceStrings.LocalAdminAppPageTableEndTime)]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in appointments)
                {
                    <tr>
                        <td>@appointment.Employee.Name</td>
                        <td>@appointment.Employee.Surname</td>
                        <td>@appointment.AppointmentDate.ToShortDateString()</td>
                        <td>@appointment.AppointmentStartHour.ToString()</td>
                        <td>@appointment.AppointmentEndHour.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (appointmentsLoaded)
    {
        <p>@Loc[nameof(ResourceStrings.LocalAdminAppPageNoAppText)]</p>
    }
}
else
{
    <p>@Loc[nameof(ResourceStrings.LocalAdminAppPageDocLoadingText)]</p>
}






