@inject IStringLocalizer<App> Loc

@page "/reportpage"
@attribute [Authorize(Roles = "Doctor")]

<h3>@Loc[nameof(ResourceStrings.ReportPageTitle)]</h3>

<div>
    <label for="reportDate">@Loc[nameof(ResourceStrings.ReportPageChooseDateText)]</label>
    <input type="date" id="reportDate" @bind="selectedDate" />

    <label for="doctorFilter">@Loc[nameof(ResourceStrings.ReportPageFilterDoctorText)]</label>
    <input type="text" id="doctorFilter" @bind="doctorFilter" />

    <button @onclick="ReceiveReport">@Loc[nameof(ResourceStrings.ReportPageReceiveReportText)]</button>
</div>

@if (reportResult != null)
{
    if (reportResult.Any())
    {
        <h4>@Loc[nameof(ResourceStrings.ReportPageResultText)]</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>@Loc[nameof(ResourceStrings.ReportPageTableDoctor)]</th>
                    <th>@Loc[nameof(ResourceStrings.ReportPageTableEmployee)]</th>
                    <th>@Loc[nameof(ResourceStrings.ReportPageTableDate)]</th>
                    <th>@Loc[nameof(ResourceStrings.ReportPageTableStartTime)]</th>
                    <th>@Loc[nameof(ResourceStrings.ReportPageTableEndTime)]</th>
                    <th>@Loc[nameof(ResourceStrings.ReportPageTableDescription)]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in reportResult)
                {
                    <tr>
                        <td>@result.Doctor.Name @result.Doctor.Surname</td>
                        <td>@result.Employee.Name @result.Employee.Surname</td>
                        <td>@result.AppointmentDate.ToString("yyyy-MM-dd")</td>
                        <td>@result.AppointmentStartHour</td>
                        <td>@result.AppointmentEndHour</td>
                        <td>@result.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>@Loc[nameof(ResourceStrings.ReportPageNoReportText)]</p>
    }
}





