@page "/create-availability"
@attribute [Authorize(Roles = "Doctor, LocalAdmin")]

@if (string.IsNullOrEmpty(errorMessage) == false)
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

<h3>Randevu Oluşturma</h3>

<Back Target="availabilities" />
<br />
<br />

<div class="row">
    <div class="col-md-6">
        <h5>Tek Randevu Oluşturma</h5>
        <EditForm Model="@availabilityToCreate" OnValidSubmit="@CreateAvailability">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="doctor">Doktor</label>
                <InputSelect class="form-control" id="doctor" @bind-Value="availabilityToCreate.DoctorID">
                    <option>Doktor Seçiniz</option>
                    @if (doctors != null && doctors.Any())
                    {
                        @foreach (var doctor in doctors)
                        {
                            <option value="@doctor.Id">@doctor.Name @doctor.Surname</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => availabilityToCreate.DoctorID)" />
            </div>

            <div class="form-group">
                <label for="date">Tarih</label>
                <InputDate class="form-control" id="date" @bind-Value="availabilityToCreate.Date" />
                <ValidationMessage For="@(() => availabilityToCreate.Date)" />
            </div>

            <div class="form-group">
                <label for="startTime">Başlangıç Saati</label>
                <InputDate Type="InputDateType.Time" class="form-control" id="startTime" @bind-Value="availabilityToCreate.StartTime" />
                <ValidationMessage For="@(() => availabilityToCreate.StartTime)" />
            </div>

            <div class="form-group">
                <label for="endTime">Bitiş Saati</label>
                <InputDate Type="InputDateType.Time" class="form-control" id="endTime" @bind-Value="availabilityToCreate.EndTime" />
                <ValidationMessage For="@(() => availabilityToCreate.EndTime)" />
            </div>

            <br />
            <button type="submit" class="btn btn-success btn-block">Oluştur</button>
        </EditForm>
    </div>

    <div class="col-md-6">
        <h5>Belirli Aralıklarla Randevu Oluşturma</h5>
        <EditForm Model="@createAvailabilitiesInRangeModel" OnValidSubmit="@CreateAvailabilitiesInRange">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="doctor">Doktor</label>
                <InputSelect class="form-control" id="doctor" @bind-Value="createAvailabilitiesInRangeModel.DoctorID">
                    <option>Doktor Seçiniz</option>
                    @if (doctors != null && doctors.Any())
                    {
                        @foreach (var doctor in doctors)
                        {
                            <option value="@doctor.Id">@doctor.Name @doctor.Surname</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => createAvailabilitiesInRangeModel.DoctorID)" />
            </div>

            <div class="form-group">
                <label for="startDate">Başlangıç Tarihi</label>
                <InputDate class="form-control" id="startDate" @bind-Value="createAvailabilitiesInRangeModel.StartDate" />
                <ValidationMessage For="@(() => createAvailabilitiesInRangeModel.StartDate)" />
            </div>

            <div class="form-group">
                <label for="endDate">Bitiş Tarihi</label>
                <InputDate class="form-control" id="endDate" @bind-Value="createAvailabilitiesInRangeModel.EndDate" />
                <ValidationMessage For="@(() => createAvailabilitiesInRangeModel.EndDate)" />
            </div>

            <div class="form-group">
                <label for="duration">Muayene Süresi</label>
                <InputNumber class="form-control" id="duration" @bind-Value="createAvailabilitiesInRangeModel.Duration" />
                <ValidationMessage For="@(() => createAvailabilitiesInRangeModel.Duration)" />
            </div>

            <div class="form-group">
                <label for="startTime">Başlangıç Saati</label>
                <InputDate Type="InputDateType.Time" class="form-control" id="startTime" @bind-Value="createAvailabilitiesInRangeModel.StartTime" />
                <ValidationMessage For="@(() => createAvailabilitiesInRangeModel.StartTime)" />
            </div>

            <div class="form-group">
                <label for="endTime">Bitiş Saati</label>
                <InputDate Type="InputDateType.Time" class="form-control" id="endTime" @bind-Value="createAvailabilitiesInRangeModel.EndTime" />
                <ValidationMessage For="@(() => createAvailabilitiesInRangeModel.EndTime)" />
            </div>

            <br />
            <button type="submit" class="btn btn-success btn-block">Oluştur</button>
        </EditForm>
    </div>
</div>
