@page "/doctors/"
<h3>Doctors</h3>

<div class="m-2 d-flex justify-content-end">
    <button @onclick="CreateDoctor" class="btn btn-success">Doktor Ekle</button>
</div>

@if (doctors == null)
{
    <p>Loading Data...</p>
}
@if (doctors != null && doctors.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th>Doktor ID</th>
                <th>TC No</th>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Lokasyon</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in doctors)
            {
                <tr>
                    <td>@doctor.Id</td>
                    <td>@doctor.IdentityNumber</td>
                    <td>@doctor.Name</td>
                    <td>@doctor.Surname</td>
                    <td>@doctor.Location.LocationDescription</td>
                    

                </tr>
            }
        </tbody>
    </table>
}