@inject IStringLocalizer<App> Loc
@page "/admin/login/"

@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

<section class="vh-80 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">@Loc[nameof(ResourceStrings.LoginPageTitle)]</h2>
                            <p class="text-white-50 mb-5">@Loc[nameof(ResourceStrings.LoginPageDescription)]</p>
                            <EditForm Model="@Model" OnValidSubmit="HandleLogin">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <div class="form-outline form-white mb-4">
                                    <label class="control-label">@Loc[nameof(ResourceStrings.LoginPageEmail)]</label>
                                    <InputText id="userName" class="form-control form-control-lg" @bind-Value="@Model.Email"></InputText>
                                    <ValidationMessage For="@(() => Model.Email)" />
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label class="control-label">@Loc[nameof(ResourceStrings.LoginPagePassword)]</label>
                                    <InputText type="password" id="password" class="form-control form-control-lg" @bind-Value="@Model.Password"></InputText>
                                    <ValidationMessage For="@(() => Model.Password)" />
                                </div>
                                <br/>
                                <input type="submit" value=@Loc[nameof(ResourceStrings.LoginPageButton)] class="btn btn-outline-light btn-lg " />
                                
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

