@inject IStringLocalizer<App> Loc
@page "/rolemanage/"
@attribute [Authorize(Roles = "SystemAdmin")]

<div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-6">
            <p class="text-center">@Loc[nameof(ResourceStrings.RoleManagePageRegNoRequest)]</p>
            
            <EditForm Model="@registrationNumber" OnValidSubmit="FindEmployee">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="input-group">
                <InputText placeholder="@Loc[nameof(ResourceStrings.RoleManagePageRegNoText)]" class="form-control" id="registrationNumber" @bind-Value="registrationNumber" />
                    <ValidationMessage For="@(() => registrationNumber)" />
            <button class="input-group-button btn btn-success" type="submit">@Loc[nameof(ResourceStrings.RoleManagePageRegNoRequest)]</button>
                </div>

            </EditForm>
        <table class="table">
            <thead>
                <tr>
                    <th>@Loc[nameof(ResourceStrings.RoleManagePageIDText)]</th>
                    <th>@Loc[nameof(ResourceStrings.RoleManagePageTableNameText)]</th>
                    <th>@Loc[nameof(ResourceStrings.RoleManagePageTableSurnameText)]</th>
                    <th>@Loc[nameof(ResourceStrings.RoleManagePageTablePhoneText)]</th>
                    <th>@Loc[nameof(ResourceStrings.RoleManagePageTableEmail)]</th>
                    <th>@Loc[nameof(ResourceStrings.RoleManagePageTableRegNoText)]</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Employee.IdentityNumber</td>
                    <td>@Employee.Name</td>
                    <td>@Employee.Surname</td>
                    <td>@Employee.Phone</td>
                    <td>@Employee.Email</td>
                    <td>@Employee.RegistrationNumber</td>
                </tr>
            </tbody>
        </table>
    @if (Disabled)
    {
        <EditForm Model="@role" OnValidSubmit="GiveRole">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="role">@Loc[nameof(ResourceStrings.RoleManagePageRoleText)]</label>
                <InputSelect class="form-control" id="role" @bind-Value="role">
                    <option disabled>@Loc[nameof(ResourceStrings.RoleManagePageRoleChoosePlacer)]</option>
                    <option value="doctor">@Loc[nameof(ResourceStrings.RoleManagePageDoctorText)]</option>
                    <option value="systemadmin">@Loc[nameof(ResourceStrings.RoleManagePageSystemAdminText)]</option>
                    <option value="localadmin">@Loc[nameof(ResourceStrings.RoleManagePageLocalAdminText)]</option>
                </InputSelect>
            </div>
                <label for="password">@Loc[nameof(ResourceStrings.RoleManagePagePasswordText)]</label>
            <div class="input-group">
                <InputText placeholder="@Loc[nameof(ResourceStrings.RoleManageSetPassword)]" class="form-control" id="password" @bind-Value="password" />
            <button class="input-group-button btn btn-primary" type="submit">@Loc[nameof(ResourceStrings.RoleManagePageGiveRoleButton)]</button>
            </div>
        </EditForm>

    }
    @if (messageTitle != null && messageBody != null)
    {
        <div class="card text-white bg-info " style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">@messageTitle</h5>
                <p class="card-text">@messageBody</p>
            </div>
        </div>
    }


    </div>
</div>
