@inject IStringLocalizer<App> Loc

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                @if (context.User?.Identity?.IsAuthenticated == false)
                {
                    <RedirectToLogin />
                }
                else
                {
                    <PageTitle>@Loc[nameof(ResourceStrings.AppPageNotAuthorizedTitle)]</PageTitle>
                        <p role="alert">@Loc[nameof(ResourceStrings.AppPageNotAuthorizedText)]</p>
                }
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
            <PageTitle>@Loc[nameof(ResourceStrings.AppPageNotFoundTitle)]</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">@Loc[nameof(ResourceStrings.AppPageNotFoundText)]</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>
